* {
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    width: 100vw;
    max-width: 1263px;
    margin: auto;
}

/*_Hover over buttons in menus and elements of grid view_*/
nav a:hover,
.filter:hover,
#container article:hover {
    opacity: 0.8;
}

/*__________________header___________________________________________*/
header {
    background-color: #9dc7d8;

}

#splash {
    background-image: url(img/splash.jpg);
    background-position: left top;
    background-size: cover;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header img {
    width: 200px;
}

nav,
#burger {
    background-color: #9dc7d8;
    display: flex;
    flex-direction: column;
    border: none;
    height: auto;
    align-items: center;
}

hr {
    width: 90%;
    align-self: center;
    border: 1px solid white;
}

#burgerknap {
    padding: 20px;
    color: white;
    cursor: pointer;
}

nav a,
nav div,
#burgerknap {
    border: none;
    padding: 10px;
    background-color: #9dc7d8;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: pointer;
    text-decoration: none;
}

#burger_opskrifter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

nav strong {
    color: #197296;
}

.valgt {
    color: #345e6f;
    background-color: #cfe8f2;
}

.hidden {
    visibility: hidden;
    display: none;
    height: 0;
}

/*__________________filterknapper_____________________________________*/

#opskrift_menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.filter {
    border: none;
    padding: 5px;
    margin: 5px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    background-color: #9dc7d8;
}

#opskrift_menu hr {
    display: none;
}

#opskrift_menu .valgt {
    background-color: white;
    color: #9dc7d8;
    border: #9dc7d8 solid 1px;
}


/*-----------------------forside------------------------------------*/

#forside img {}



/*-----------------------forside slut---------------------------*/






/*__________________liste___________________________________________*/



h2 {
    font-family: 'Raleway', sans-serif;
    color: #d9a7c2;
    text-align: center;
    font-size: 2rem;
    padding-top: 20px;
}

section p {
    font-family: 'Raleway', sans-serif;
    background-color: #9dc7d8;
    margin: 30px;
    padding: 40px;
    border-radius: 30px;
    color: white;
}

#container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

#container article {
    margin: 10px 30px;
    cursor: pointer;

}

#container img {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    width: 100%;
    height: 200px;
    object-fit: cover;
    padding: 15px;
    border-radius: 30px 30px 0 0;
}

#container h3 {
    color: white;
    padding: 7px;
    background-color: #b4d9b9;
    margin: 0 13px;
    border-radius: 0 0 15px 15px;
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1em;
    box-shadow: 7px 7px 3px 0px rgba(0, 0, 0, 0.01);
    border: solid 5px #b0d4b5;
}





/*__________________footer___________________________________________*/

footer {
    background-color: #F9C0DC;
    color: white;
    margin-top: 20px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

footer img,
footer p {
    flex-grow: 1;
    text-align: center;
    max-width: 200px;
}

footer p {
    margin-top: 15px;
    color: white;
}


footer .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

footer .socialmedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
}

footer .logo {
    padding: 10px;
    align-self: center;
}

footer img {
    width: 100px;
    max-width: 150px;
}



/*__________________popup______________________________________*/
* width */::-webkit-scrollbar {
    width: 10px;
}

.cross {
    display: flex;
    justify-content: flex-end;
}

#popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(217, 167, 194, 0.7);
    display: none;
    cursor: pointer;
}

#popup section {
    width: 80vw;
    height: 80vh;
    overflow-y: scroll;
    margin: 3rem auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    cursor: auto;
    padding: 10px;
    border-radius: 13px;
}

#popup button {
    background-color: white;
    border: none;
    color: #d9a7c2;
    cursor: pointer;
    margin: 20px;
    width: 30px;
}



#popup img {
    width: 80% auto;
    margin: 0 auto;
    height: 300px;
    object-fit: cover;
    border-radius: 13px;
    margin: 2em auto;
}



#popup h3 {
    font-family: 'Raleway', sans-serif;
    color: #d9a7c2;
    text-align: center;
    font-size: 2rem;
    margin: 20px 0 0 0;
}



#popup p {
    border-radius: 13px;
    line-height: 130%;
    margin: 10px;
    padding: 10px;
}


/*_________________Om Os start___________________*/
/*_______________________________________________*/

#om_os .text {}


#om_os .photos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#om_os .photo1,
#om_os .photo2 {
    display: flex;
    justify-content: center;
}


#om_os .photos img {
    width: 65%;
    height: auto;
    border-radius: 30px;
}


/*_________________Om Os slut___________________*/
/*_______________________________________________*/




/*__________________media queries______________________________________*/

@media only screen and (min-width: 610px) {

    nav,
    nav.hidden {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        visibility: visible;
        padding: 15px;
        height: auto;
    }

    #burgerknap,
    hr {
        display: none;
    }

    #popup img {
        width: 20%;
    }



    /*_________________Om Os start___________________*/
    /*_______________________________________________*/


    #om_os .container {
        display: flex;
        flex-direction: column;
    }

    #om_os .content {
        display: flex;
        flex-direction: row;
    }

    #om_os .photos {
        display: flex;
        align-items: center;
    }

    #om_os .photo1,
    #om_os .photo2 {
        display: flex;
        justify-content: center;
    }


    #om_os .photos img {
        width: 90%;
        height: auto;
        border-radius: 30px;
    }

    #om_os .photo2 {
        margin-right: 30px;
    }


    /*_________________Om Os slut___________________*/
    /*_______________________________________________*/

    /*_________________Footer start___________________*/
    /*_______________________________________________*/


    footer {
        display: flex;
        flex-direction: row;
    }

    footer img,
    footer p {
        flex-grow: 1;
        text-align: center;
    }


    footer p {
        margin-top: 15px;
        color: white;
        text-align: left;
    }



    footer img {

        height: auto;
    }


    /*_________________Footer slut___________________*/
    /*_______________________________________________*/



}
